<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.bitdroid.ods">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="de.bitdroid.ods.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="de.bitdroid.ods.permission.C2D_MESSAGE" />


    <application>

        <service android:name=".data.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".data.OdsContentProvider"
            android:authorities="de.bitdroid.ods.provider"
            android:exported="true"
            android:syncable="true"
            android:grantUriPermissions="true"
            />

        <service
            android:name=".data.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name=".data.SyncStatusListener">
            <intent-filter>
                <action android:name="de.bitdroid.ods.data.ACTION_SYNC_START"/>
                <action android:name="de.bitdroid.ods.data.ACTION_SYNC_ALL_START"/>
                <action android:name="de.bitdroid.ods.data.ACTION_SYNC_FINISH"/>
                <action android:name="de.bitdroid.ods.data.ACTION_SYNC_ALL_FINISH"/>
            </intent-filter>
        </receiver>

        <!-- ODS GCM registration and updates -->
        <service android:name=".data.GcmIntentService">
        </service>

        <receiver android:name=".data.GcmManager$StatusUpdater">
            <intent-filter>
                <action android:name="de.bitdroid.ods.data.ACTION_GCM_FINISH"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".data.GcmReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="de.bitdroid.ods" />
            </intent-filter>
        </receiver>

        <!-- CEPS GCM registration and updates -->
        <service android:name=".cep.GcmIntentService">
        </service>

        <receiver android:name=".cep.CepManagerImpl$StatusUpdater">
            <intent-filter>
                <action android:name="de.bitdroid.ods.cep.ACTION_GCM_FINISH"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".cep.GcmReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="de.bitdroid.ods" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />

    </application>

</manifest>
