    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
                    width="854"
                    height="480"
                    src="https://www.youtube.com/embed/Gy5AL4MhZnI"
                    allowfullscreen></iframe>
        </div>
        <div class="col-xs-12" style="height:50px;"></div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
					Pegel Alarm ist eine kostenlose Android App, die einem dabei
					hilft Wasserstände von Flüssen und Seen im Auge zu behalten.
					Zusätzlich kann die App einen warnen, wenn ein bestimmter
					Wasserstand überschritten wurde.
                </p>
                <p>
					Damit werden Sie immer rechtzeitig vor einem drohendem
					Hochwasser gewarnt und können sich beruhigt auf andere Dinge
					konzentrieren.
                </p>
            </div>
        </div>
    </section>
