    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Über Pegel Alarm</h2>
                <p>
                    Pegel Alarm ist eine kostenlose Android App die einem dabei hilft Wasserstände
                    von Flüssen und Seen im Auge zu behalten. Zusätzlich kann
                    die App einen warnen wenn ein bestimmte Wasserstand überschritten wurde.
                </p>
                <p>
                    Damit werden Sie immer rechtzeitig vor einem drohendem Hochwasser gewarnt und
                    können beruhigt sich auf andere Dinge konzentrieren.
                </p>
            </div>
        </div>
    </section>
