    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <p>
				Anregungen, Verbesserungsvorschläge oder allgemein Ideen,
                wie Pegel Alarm verbessert werden kann sind immer gerne
                gesehen. Schreiben Sie uns einfach eine Email oder werfen
                Sie einen Blick in den Quellcode auf GitHub.
                <p>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
