<!-- Download Section -->
<section id="download" class="content-section text-center">
	<div class="download-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Pegel Alarm installieren</h2>
				<p>
					Aus rechtlichen Gründen können wir Ihnen erst nach
					Registrierung per Email an
					<a href="mailto:info@pegelalarm.de" target="_top" style="color: white; font-weight: bold;">info@pegelalarm.de</a> 
					Zugang zur App verschaffen.
				</p>
			</div>
		</div>
	</div>
</section>
