    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Pegel Alarm installieren</h2>
                    <p>
                        Pegel Alarm ist als Android App in der Beta Phase auf dem Google Play Store verfügbar und kann kostenlos heruntergeladen und
                        installiert werden.
                    </p>
                    <a href="https://github.com/jvalue/hochwasser-app" class="btn btn-default btn-lg">App installieren</a>
                </div>
            </div>
        </div>
    </section>
