    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Pegel Alarm installieren</h2>
                    <p>Pegel Alarm ist als Android App auf dem Google Play Store verfügbar und kann kostenlos heruntergeladen und
                        installiert werden.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">App installieren</a>
                </div>
            </div>
        </div>
    </section>
