    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <img src="/img/heart.svg" alt="Herz">
			<p class="text-footer">
                Software made in Erlangen, Germany
			</p>
			<p class="text-footer">
			</p>
			<p class="text-footer">
                Copyright &copy; 2014 Philipp Eichhorn
                &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                Copyright &copy; 2014, 2015 Friedrich-Alexander-Universität Erlangen-Nürnberg
			</p>
        </div>
    </footer>
