<div class="standalone-site container">
    <h2>
        Herausgeber
    </h2>
    <p>
        Professur für Open-Source-Software<br>
        Friedrich-Alexander-Universität Erlangen-Nürnberg<br>
        Martensstr. 3, 91058 Erlangen<br>
        dirk.riehle@fau.de
    </p>

    <h2>
        Umsatzsteuer-Identifikationsnummer:
    </h2>
    <p>
		Die Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz lautet DE 132507686.
    </p>

    <h2>
        Steuernummer
    </h2>
    <p>
        Die Steuernummer lautet 216/114/20045 (Finanzamt Erlangen).
    </p>

    <h2>
        Urheberrecht
    </h2>
    <p>
		Falls nicht anders angegeben, unterliegen alle Seiten des Webangebotes
		der Universität Erlangen-Nürnberg dem Urheberrecht (Copyright). Dies gilt
		insbesondere für Texte, Bilder, Grafiken, Style-, Ton-, Video- oder
		Animationsdateien, einschließlich deren Anordnung auf den Webseiten.
    </p>
    <p>
		Die Gestaltung und die Anwendungen dieses Webauftritts wurden mit
		entsprechenden Modifikationen dem Vorlagenkatalog der Universität
		Erlangen-Nürnberg entnommen. Rechte, Nutzungsbedingungen und weitere
        Informationen hierzu entnehmen Sie der Projektwebsite.
    </p>
    <p>
		Eine Vervielfältigung oder Verwendung von Webseiten (oder von Teilen
		daraus) in anderen elektronischen oder gedruckten Publikationen und
		deren Veröffentlichung (auch im Internet) ist nur nach vorheriger
        Genehmigung gestattet.
    </p>
    <p>
		Der Nachdruck und die Auswertung von Pressemitteilungen, Publikationen,
		Skripten und Vortragsinformationen ist mit Quellenangabe gestattet.
		Weiterhin können Bilder, Grafiken, Text- oder sonstige Dateien ganz
        oder teilweise dem Urheberrecht Dritter unterliegen.
    </p>
    <p>
		Alle innerhalb des Internetangebots genannten und ggf. durch Dritte
		geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den
		Bestimmungen des jeweils gültigen Kennzeichenrechts und den
		Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund
		der bloßen Nennung in unserem Internetangebot ist nicht der Schluss zu
		ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.
    </p>

    <h2>
        Haftungsausschluss
    </h2>
    <p>
		Der Betreiber hat alle in seinem Bereich bereitgestellten Informationen
		nach bestem Wissen und Gewissen erarbeitet und geprüft. Es wird jedoch
		keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder
		Qualität und jederzeitige Verfügbarkeit der bereitgestellten
		Informationen übernommen.
    </p>
    <p>
		Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten
		durch Computerviren oder der Installation oder Nutzung von Software
		verursacht werden, wird nicht gehaftet.
    </p>
    <p>
		Namentlich gekennzeichnete Internetseiten geben die Auffassungen und
		Erkenntnisse des Verfassers bzw. der Verfasser wieder.
    </p>
    <p>
		Der Betreiber behält es sich ausdrücklich vor, einzelne Webseiten,
		Web-Dienste oder das gesamte Angebot ohne gesonderte Ankündigung zu
		verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise
		oder endgültig einzustellen.
    </p>

    <h2>
        Links und Verweise (Disclaimer)
    </h2>
    <p>
		Der Betreiber ist nur für die “eigenen Inhalte”, die er zur Nutzung
		bereithält, nach den einschlägigen Gesetzen verantwortlich. Von diesen
		eigenen Inhalten sind Querverweise (“Links”) auf die Webseiten anderer
		Anbieter zu unterscheiden. Durch den als “Externer Link”
		gekennzeichneten Querverweis ermöglicht der Betreiber den Zugang zu
		“fremden Inhalten”.
    </p>
    <p>
		Durch den Querverweis vermittelt der Betreiber lediglich den Zugang zur
		Nutzung dieser Inhalte; für diese “fremden” Inhalte ist er nicht
		verantwortlich, da er die Übermittlung der Information nicht
		veranlasst, den Adressaten der übermittelten Informationen nicht
		auswählt und die übermittelten Informationen auch nicht ausgewählt oder
		verändert hat. Auch eine automatische kurzzeitige Zwischenspeicherung
		dieser “fremden Informationen” erfolgt wegen der gewählten Aufruf- und
		Verlinkungsmethodik nicht, so dass sich auch dadurch keine
		Verantwortlichkeit des Betreibers für diese fremden Inhalte ergibt.
    </p>
    <p>
		Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben die
		Autoren der jeweiligen Webseiten oder die Redaktion des Betreibers den
		fremden Inhalt jedoch daraufhin überprüft, ob durch ihn eine mögliche
		zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird.
		Sobald der Betreiber feststellt oder von anderen darauf hingewiesen
		wird, dass ein konkretes Angebot, zu dem er einen Link bereitgestellt
		hat, eine zivil- oder strafrechtliche Verantwortlichkeit auslöst, wird
		er den Verweis auf dieses Angebot unverzüglich aufheben, soweit es
		technisch möglich und zumutbar ist.
    </p>
    <p>
		Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere
		für Schäden, die aus der Nutzung oder Nichtnutzung von Informationen
		Dritter entstehen, haftet allein der jeweilige Anbieter der Seite, auf
		welche verwiesen wird.
    </p>
</div>
