    <!-- Newsletter Section -->
    <section id="newsletter" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
					Newsletter
				</h2>
				<p>
					Über diesen Newsletter erhalten Sie in unregelmäßigen Abständen
					Neuigkeiten rund um das Thema Pegel Alarm.
				</p>
                <form
                        action="https://tinyletter.com/PegelAlarm"
                        method="post"
                        target="popupwindow"
                        onsubmit="window.open('https://tinyletter.com/PegelAlarm', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
                        class="form-horizontal">

                    <div class="form-group">
						<label class="col-sm-2" for="tlemail"><p>Email</p></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Email" name="email" id="tlemail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default btn-lg" value="Subscribe"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
