<!DOCTYPE html>
<html>
    {% include head.html %}
    {% include nav-blog.html %}
    <body>

    <!-- Start Newsletter -->
	<section id="blog-header" class="text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="standalone-site">
        <div class="container">
            <div class="post col-md-10 col-md-offset-1">
                <div class="post-date">
                    {{ page.date | date_to_string }}
                </div>
                <br>
                <div>
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter -->

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
